/*
* Base process resource / container-option overrides, per process name.
*/

process {
    withName: run_cellbender {
        // Run one batch at a time so parallel jobs don't exhaust the GPU.
        maxForks = 1
        containerOptions = '--nv --nvccli'
    }
    withName: run_vaeda {
        containerOptions = '--nv --nvccli'
    }
    withName: scSHC {
        memory = '128 GB'
        cpus = 10
    }
}
